<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
                       "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bizDaily">
	<select id="getBizDailyList" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
		SELECT
			A.REC_USER, B.EMPNAME REC_NAME, dbo.FN_DATE_TO_STRING(A.REC_DATE) REC_DATE, 
			A.REQ_USER, C.EMPNAME REQ_NAME, C.DEPTNAME, A.REQ_SUBJECT, A.REQ_CONTENT, A.ANL_CONTENT, A.WORK_LEV, A.WORK_STATUS, E.BCD_NAME WORK_STATUS_NAME,
			A.BD_SEQ
		FROM
			TB_BIZDAILY_MASTER A WITH(NOLOCK)
			INNER JOIN
				VT_USERALL_LIST B ON A.REC_USER = B.EMPID
			INNER JOIN
				VT_USERALL_LIST C ON A.REQ_USER = C.EMPID AND C.EMPNAME LIKE #{empname}
			LEFT OUTER JOIN
				(SELECT BD_SEQ, COUNT(*) BATCH_CNT FROM TB_BIZDAILY_EXECUTER WITH(NOLOCK) GROUP BY BD_SEQ) D ON A.BD_SEQ = D.BD_SEQ
			INNER JOIN
				(SELECT BCD_CODE, BCD_NAME FROM TB_BASE_DETAIL WITH(NOLOCK) WHERE BCH_CODE = 'W0002') E ON A.WORK_STATUS = E.BCD_CODE
		WHERE
			A.REC_USER LIKE #{rec_user} AND			 
			A.REQ_SUBJECT LIKE #{req_subject} AND
			A.WORK_STATUS LIKE #{work_status} AND
			CONVERT(NVARCHAR, A.REC_DATE, 112) >= Replace(#{rec_sdate}, '-', '') AND
			CONVERT(NVARCHAR, A.REC_DATE, 112) <= Replace(#{rec_edate}, '-', '')
		ORDER BY A.REC_DATE desc, A.BD_SEQ desc;
		]]>
	</select>
	
	<select id="getBizDailyExecuter" parameterType="java.lang.String" resultType="hashmap">
		<![CDATA[
		SELECT
			A.BD_SEQ, A.EXC_USER, B.EMPNAME, A.EXC_WEIGHT, ISNULL(A.REMARK, '') REMARK, C.SORT_NO, B.EMPID
		FROM
			TB_BIZDAILY_EXECUTER A WITH(NOLOCK),
			VT_USERALL_LIST B,
			(SELECT etc_col01 EXC_USER, SORT_NO  FROM TB_BASE_DETAIL WITH(NOLOCK) WHERE BCH_CODE = 'Z0001') C
		WHERE
			A.BD_SEQ = #{BD_SEQ} AND
			A.EXC_USER = B.empid AND
			A.EXC_USER = C.EXC_USER
		ORDER BY C.SORT_NO;
		]]>
	</select>
	
	<select id="getBizDailyDetail" parameterType="java.lang.String" resultType="hashmap">
		<![CDATA[
		SELECT
			A.BD_SEQ, A.EXC_SEQ, A.EXC_USER, B.EMPNAME, A.EXC_CONTENT, A.WORK_LEV, A.WORK_STATUS, A.WORK_PRC_PER, A.ACT_END_DATE, ISNULL(A.REMARK, '') REMARK
		FROM
			TB_BIZDAILY_DETAIL A WITH(NOLOCK),
			VT_USERALL_LIST B WITH(NOLOCK)
		WHERE
			A.BD_SEQ = #{BD_SEQ} AND
			A.EXC_USER = B.empid
		ORDER BY A.EXC_SEQ desc;
		]]>
	</select>
	
	
	
</mapper>